<div class="container">
  <div class="row">
    <div class="col s5 offset-s1 card hoverable">
      <div class="card-image waves-effect waves-block waves-light">
        <img class="activator" src="{{imgURL1}}">
      </div>
      <div class="card-content">
        <span class="card-title activator grey-text text-darken-4">Peter Tan<i
            class="material-icons right">more_vert</i></span>
        <p><a href="https://www.linkedin.com/in/peter-tan-670586125/"><i class="material-icons left">LinkedIn</i> This is a link</a></p>
        <p><a href="https://github.com/peterztan">This is a link</a></p>
      </div>
      <div class="card-reveal">
        <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
        <p>Here is some more information about this product that is only revealed once clicked on.</p>
      </div>
    </div>

    <div class="col s5 offset-s1 card hoverable">
      <div class="card-image waves-effect waves-block waves-light">
        <img class="activator" src="{{imgURL2}}">
      </div>
      <div class="card-content">
        <span class="card-title activator grey-text text-darken-4">Card Title<i
            class="material-icons right">more_vert</i></span>
        <p><a href="#">This is a link</a></p>
      </div>
      <div class="card-reveal">
        <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
        <p>Here is some more information about this product that is only revealed once clicked on.</p>
      </div>
    </div>

    <div class="col s5 offset-s1 card hoverable">
      <div class="card-image waves-effect waves-block waves-light">
        <img class="activator" src="{{imgURL3}}">
      </div>
      <div class="card-content">
        <span class="card-title activator grey-text text-darken-4">Card Title<i
            class="material-icons right">more_vert</i></span>
        <p><a href="#">This is a link</a></p>
      </div>
      <div class="card-reveal">
        <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
        <p>Here is some more information about this product that is only revealed once clicked on.</p>
      </div>
    </div>

    <div class="col s5 offset-s1 card hoverable">
      <div class="card-image waves-effect waves-block waves-light">
        <img class="activator" src="{{imgURL4}}">
      </div>
      <div class="card-content">
        <span class="card-title activator grey-text text-darken-4">Card Title<i
            class="material-icons right">more_vert</i></span>
        <p><a href="#">This is a link</a></p>
      </div>
      <div class="card-reveal">
        <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
        <p>Here is some more information about this product that is only revealed once clicked on.</p>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>