<div class="container">
  <div class="row">
    <div class="col s3 card hoverable">
      <div class="card-image waves-effect waves-block waves-light">
        <img class="activator responsive-img circle" src="{{imgURL1}}">
      </div>
      <div class="card-content">
        <span class="card-title activator grey-text text-darken-4">Peter Tan<i
            class="material-icons right">more_vert</i></span>
        <p><a href="https://www.linkedin.com/in/peter-tan-670586125/">LinkedIn</a></p>
        <p><a href="https://github.com/peterztan">GitHub</a></p>
      </div>
      <div class="card-reveal">
        <span class="card-title grey-text text-darken-4">Role<i class="material-icons right">close</i></span>
        <p>Project Manager, Problem Solver, Front-End Dev, UI/UX</p>
      </div>
    </div>

    <div class="col s3 card hoverable">
      <div class="card-image waves-effect waves-block waves-light">
        <img class="activator" src="{{imgURL2}}">
      </div>
      <div class="card-content">
        <span class="card-title activator grey-text text-darken-4">Sandra Martinez<i
            class="material-icons right">more_vert</i></span>
        <p><a href="https://www.linkedin.com/in/peter-tan-670586125/">LinkedIn</a></p>
        <p><a href="https://github.com/peterztan">GitHub</a></p>
      </div>
      <div class="card-reveal">
        <span class="card-title grey-text text-darken-4">Role<i class="material-icons right">close</i></span>
        <p>Front-End Dev, UI/UX, Back-End Dev</p>
      </div>
    </div>

    <div class="col s3 card hoverable">
      <div class="card-image waves-effect waves-block waves-light">
        <img class="activator" src="{{imgURL3}}">
      </div>
      <div class="card-content">
        <span class="card-title activator grey-text text-darken-4">Magdalene James<i
            class="material-icons right">more_vert</i></span>
        <p><a href="http://www.linkedin.com/in/magdalene-james-a31225a8">LinkedIn</a></p>
        <p><a href="https://github.com/MaggyJay">GitHub</a></p>
      </div>
      <div class="card-reveal">
        <span class="card-title grey-text text-darken-4">Role<i class="material-icons right">close</i></span>
        <p>Remote Front-End Dev, Script Writer, Presentation</p>
      </div>
    </div>

    <div class="col s3 card hoverable">
      <div class="card-image waves-effect waves-block waves-light">
        <img class="activator" src="{{imgURL4}}">
      </div>
      <div class="card-content">
        <span class="card-title activator grey-text text-darken-4">Nick Gluch<i
            class="material-icons right">more_vert</i></span>
        <p><a href="https://www.linkedin.com/in/peter-tan-670586125/">LinkedIn</a></p>
        <p><a href="https://github.com/peterztan">GitHub</a></p>
      </div>
      <div class="card-reveal">
        <span class="card-title grey-text text-darken-4">Role<i class="material-icons right">close</i></span>
        <p>Back-End Team Lead, Problem Solver, JavaScript Consult</p>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>