<div id="home">
  <div class="container">
    <div class="row">
      <div class="col s8 offset-2">
        <h1>{{msg}}</h1>
        <h2>This is our Home Page!</h2>
        <form class="clearfix mb-4" action="/api/deck" method="POST">
          <div class="form-group">

            <label for="deckname">Deck Name</label>
            <input type="text" id="deckname" class="form-control" aria-describedby="deckname"
              placeholder="Enter Deck Name">
          </div>
          {{!-- <div class="form-group">
            <label for="example-description">Example Description</label>
            <textarea class="form-control" id="example-description" aria-describedby="example-description"
              placeholder="Enter Example Description"></textarea>
          </div> --}}

          <button id="submit" class="btn btn-primary float-right">Submit</button>
        </form>




        <h3>Decks:</h3>
        <ul id="deck-list" class="list-group">

          {{#each deck}}
          <li data-id="{{this.deckId}}" class="list-group-item">
            <a href="decks/{{this.deckId}}">{{this.deckName}}</a>
            <button class="btn btn-danger float-right delete">ｘ</button>

          </li>
          {{/each}}


        </ul>

        <div class="container">

          <div class="row">

            <div class="col s2 m2">
              <a class="waves-effect waves-light btn" href="/cms">New Post</a>
            </div>
            <div class="col s2 m2">
              <a class="waves-effect waves-light btn" href="/deck">Manage Decks</a>
            </div>
          </div>
          <div class="row">
            <div class="col cards-fan-container s12 m6">
              <div class="card card-fan" id="ace-fan">
                <div class="card-content white-text">
                  <span class="card-title">Card Title</span>
                  <p>I am a very simple card. I am good at containing small bits of information.
                    I am convenient because I require little markup to use effectively.</p>
                </div>
                <div class="card-action">
                  <a href="#">This is a link</a>
                  <a href="#">This is a link</a>
                </div>

              </div>
              <div class="card card-fan" id="king-fan">
                <div class="card-content white-text">
                  <span class="card-title">Card Title</span>
                  <p>I am a very simple card. I am good at containing small bits of information.
                    I am convenient because I require little markup to use effectively.</p>
                </div>
                <div class="card-action">
                  <a href="#">This is a link</a>
                  <a href="#">This is a link</a>
                </div>

              </div>
              <div class="card card-fan" id="queen-fan">
                <div class="card-content white-text">
                  <span class="card-title">Card Title</span>
                  <p>I am a very simple card. I am good at containing small bits of information.
                    I am convenient because I require little markup to use effectively.</p>
                </div>
                <div class="card-action">
                  <a href="#">This is a link</a>
                  <a href="#">This is a link</a>
                </div>

              </div>
              <div class="card card-fan" id="jack-fan">
                <div class="card-content white-text">
                  <span class="card-title">Card Title</span>
                  <p>I am a very simple card. I am good at containing small bits of information.
                    I am convenient because I require little markup to use effectively.</p>
                </div>
                <div class="card-action">
                  <a href="#">This is a link</a>
                  <a href="#">This is a link</a>
                </div>

              </div>
              <div class="card card-fan" id="ten-fan">
                <div class="card-content white-text">
                  <span class="card-title">Card Title</span>
                  <p>I am a very simple card. I am good at containing small bits of information.
                    I am convenient because I require little markup to use effectively.</p>
                </div>
                <div class="card-action">
                  <a href="#">This is a link</a>
                  <a href="#">This is a link</a>
                </div>

              </div>
            </div>
          </div>

        </div>




      </div>
    </div>
  </div>
</div>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>



<script src="/js/index.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>