<div class="container">
    <div id="user-login" class="row">
        <h2 class="white-text">Login</h2>
        <div class="col s12 card-panel blue darken-4 z-depth-6">
            <form class="login-form">
                <div class="row margin">
                    <div class="input-field col s12">
                        <i class="mdi-social-person-outline prefix"></i>
                        <input id="user_name" type="text">
                        <label for="email" data-error="wrong" data-success="right" class="center-align">username</label>
                    </div>
                </div>
                <div class="row margin">
                    <div class="input-field col s12">
                        <i class="mdi-action-lock-outline prefix"></i>
                        <input id="user_pass" type="password">
                        <label for="password">Password</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <button id="loginBtn" class="btn waves-effect waves-light col s12">Login</button>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s6 m6 l6">
                        <p class="margin medium-small"><a href="/register">Register Now!</a></p>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<script src="js/login.js"></script>