<div class="container">
    <div id="register-page" class="row">
        <h2 class="white-text">Register</h2>
        <div class="col s12 card-panel blue darken-4 z-depth-5">
            <form class="register-form">
            {{!-- <div class="row margin">
                <div class="input-field col s12">
                    <i class="mdi-social-person-outline prefix"></i>
                    <input id="user_id" type="text" class="validate white-text">
                    <label for="user_id" class="center-align">User ID</label>
                </div>
            </div> --}}
            <div class="row margin">
                <div class="input-field col s12">
                    <i class="mdi-social-person-outline prefix"></i>
                    <input id="user_name" type="text" class="validate white-text">
                    <label for="user_name" class="center-align">Username</label>
                </div>
            </div>
            <div class="row margin">
                <div class="input-field col s12">
                    <i class="mdi-action-lock-outline prefix"></i>
                    <input id="user_passw" type="password" class="validate white-text">
                    <label for="user_passw">Password</label>
                </div>
            </div>
            <div class="row margin">
                <div class="input-field col s12">
                    <i class="mdi-action-lock-outline prefix"></i>
                    <input id="confirm_pass" type="password" class="white-text">
                    <label for="confirm_pass">Re-type password</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <button id="registerBtn" class="btn waves-effect waves-light col s12">Register Now</button>
                </div>
                <div class="input-field col s12">
                    <p class="margin center medium-small sign-up">Already have an account? <a href="/login">Login</a>
                    </p>
                </div>
            </div>
            </form>
        </div>
    </div>
</div>

<script src="js/signup.js"></script>