.list-group-item {
  line-height: 2.5;
}

body {
  background: url("https://media.giphy.com/media/3YHzVE6tPeiBkYSFKx/giphy.gif")
    no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  backdrop-filter: blur(10px);
  height: 100%;
}

body,
html {
  height: 100%;
}



.input-field [type=text] {
  color: white;
}

.card {
  margin-right: 6.25rem;
}